@import url("https://fonts.googleapis.com/css?family=Jura:300,400,500,600|Raleway");
.bright-red {
  color: red;
}

.dark-red {
  color: #8b0000;
}

html {
  font-family: Jura;
  background: black;
}

* {
  box-sizing: border-box;
}

.flex-container-intro {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  color: white;
  margin: 0 auto;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.flex-container-intro-headline {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  text-align: right;
  min-height: 100%;
}

.intro-headline {
  padding-right: 10%;
  padding-top: 5%;
  font-size: 6rem;
}

.flex-container-intro-text {
  max-width: 100%;
  padding-bottom: 5%;
}

.flex-container-summary-lines {
  padding-top: 5%;
  padding-bottom: 7.5%;
}

.my-face {
  width: 100%;
  padding-top: 5%;
}

p[class*=intro-line-] {
  padding-top: 5%;
  padding-bottom: 5%;
  font-size: 1.5rem;
}

.l2 {
  text-align: left;
  padding-left: 5%;
}

.l3 {
  padding-left: 25%;
}

.l4 {
  padding-left: 40%;
}

.l5 {
  text-align: right;
  padding-right: 5%;
  background: black;
}

.flex-container-contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  max-width: 100%;
  padding: 1rem;
  padding-top: 10%;
  padding-bottom: 10%;
  background: white;
  position: relative;
}

.flex-container-contact-headline {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: right;
  padding: 1rem;
  position: relative;
  padding-bottom: 5%;
}

.contact-headline {
  padding-bottom: 5%;
  font-size: 3rem;
  font-weight: 600;
}

.contact-headline-subtext {
  font-size: 1.5rem;
}

.flex-container-contact-methods {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.flex-container-contact-methods > a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 1px;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  min-width: 70%;
}

.contact-method {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: 600;
  -webkit-transition: .1s ease-in all;
  transition: .1s ease-in all;
}

.contact-method:hover {
  -webkit-filter: drop-shadow(0px 2px 2px #8b0000);
          filter: drop-shadow(0px 2px 2px #8b0000);
  -webkit-transform: scale(1.02);
          transform: scale(1.02);
}

.contact-method p:hover {
  color: #8b0000;
  text-decoration: underline;
}

a:link {
  text-decoration: none;
}

.contact-method > * {
  background: black;
  color: white;
  padding: 1rem;
  border: 1px solid black;
  min-width: 50%;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  text-transform: uppercase;
  font-size: 1.5rem;
}

.contact-method i {
  border-right: none;
}

.contact-method > a:hover {
  color: #8b0000;
}

.contact-method p {
  background: white;
  color: black;
}

:root {
  font-size: 8px;
}

@media (min-width: 400px) and (max-width: 1800px) {
  :root {
    font-size: calc( 8px + (30 - 8) * ( (100vw - 400px) / (1800 - 400) ) );
  }
}
@media (min-width: 1800px) {
  :root {
    font-size: 30px;
  }
}
@media (max-width: 800px) {
  .contact-method {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .contact-method > * {
    width: 100%;
  }
}
